@import "./card-number";
@import "./verification";
@import "./header-card/";

.form {
  background: #f5f5f5;
  box-shadow: 0 2px 16px #ccc;
  font-family: sans-serif;
  padding: 32px;
  border-radius: 5px;
  width: 600px;
  height: 350px;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 760px) {
    width: 70%;
  }
  @media screen and (max-width: 650px) {
    height: 450px;
  }
}
